* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', 'Open Sans', Helvetica, sans-serif;
	background-color: #e2e2e2;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.4rem;
	font-weight: 400;
}

span {
	color: #0099CC;
}

/* Link knoppen */
section a {
	background-color: #0099CC;
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 0.5rem 1.5rem;
	font-size: 1.1rem;
	border-radius: 10px;
	border: 3px solid #0099CC;
}

section a:hover, section a:focus {
	cursor: pointer;
	background: white;
	color: black;
	border: 3px solid #0099CC;
	outline: none;
}

/* Navigatie */
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100vw;
	background-color: #FC1D6C;
}

nav li {
	list-style: none;
	padding: 1.5rem;
	font-size: 1.5em;
	font-weight: 300;
}

nav a {
	color: white;
	text-decoration: none;
	transition: color .2s ease-in;
}

nav li:hover a {
	color: black;
}

/* Filterbar */
#filterbar {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3rem 8vw 0 8vw;
	padding: 1.5rem 2rem;
}

/* Overzicht */
#overzicht {
	/* Flexbox voor als grid niet werkt */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
	grid-gap: 4rem;
	padding: 3rem 8vw;
}

#overzicht article {
	background-color: white;
	max-width: 40vw;
}

#overzicht img {
	object-fit: cover;
	max-width: 100%;
}

#overzicht p {
	font-size: 1.5em;
	font-weight: 500;
	padding: 1rem;
}

/* Favorieten voorkeuren */
#add {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 4rem 8vw;
}

#fav-voorkeuren {
	margin: 4rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#fav-voorkeuren article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 1rem;
	margin: 1em;
}

.knoppen{
	display: flex;
	flex-direction: column;
}

#fav-voorkeuren button {
	background-color: white;
	padding: 0.5rem 1.5rem;
	margin: 0.2rem 1rem;
	font-size: 1.1rem;
	border-radius: 10px;
	border: 3px solid #FC1D6C;
}

#fav-voorkeuren button:hover, #fav-voorkeuren button:focus {
	cursor: pointer;
	background-color: rgba(252, 29, 108, 1);
	background: linear-gradient(94deg, rgba(252, 29, 108, 1) 28%, rgba(255, 93, 49, 1) 72%);
	color: white;
	padding: 0.6rem 1.6rem;
	border: none;
	outline: none;
}

#fav-voorkeuren #delete {
	border: 3px solid red;
	background-color: rgba(256, 0, 0, 0.5);
	color: white;
}

#fav-voorkeuren #delete:hover, #fav-voorkeuren #delete:focus {
	border: 3px solid red;
	background: rgba(256,0,0,0.3);
	color: red;
	padding: 0.5rem 1.5rem;
}

#fav-voorkeuren div {
	margin: 1rem;
}

#fav-voorkeuren h2 {
	font-size: 1.5em;
	font-weight: 500;
	margin: 0;
	margin-bottom: 1rem;
}

#fav-voorkeuren p {
	font-weight: 400;
	font-size: 1.3em;
	margin: 0;
	color: #0099CC;
}

/* Filters */
#filterpage main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0;
}

form {
	display: flex;
	flex-direction: column;
	background-color: white;
	margin: auto;
	padding: 1rem 2rem;
	font-size: 1.2rem;
	margin: 3rem 8vw;
}

hr {
	height: 2px;
	border: none;
	background-color: lightgrey;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 1rem 0.5rem;
}

.container p, .container>div {
	min-width: 13em;
}

.formcontext {
	font-weight: 300;
	font-size: 0.8rem;
}

input[type="radio"] {
	/* Bron weghalen radiobutton: https://markheath.net/post/customize-radio-button-css */
	opacity: 0;
	width: 0;
	margin-bottom: 1rem;
}

.geslacht label {
	border-radius: 10px;
	border: 2px solid #FC1D6C;
	padding: 0.5rem 1.5rem;
	margin: 0.5rem 0;
}

.geslacht label:hover, input[type="radio"]:checked+label {
	cursor: pointer;
	background-color: rgba(252, 29, 108);
	background: linear-gradient(94deg, rgba(252, 29, 108, 1) 28%, rgba(255, 93, 49, 1) 72%);
	/*Bron: https://cssgradient.io/ */
	color: white;
	padding: 0.6rem 1.65rem;
	border: none;
}

input[type="number"], input[type="text"] {
	margin: 0 0.5rem;
	background-color: #E4E4E4;
	border: none;
	border-radius: 10px;
	padding: 0.8rem 1rem;
	font-size: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]:hover, input[type="text"]:hover, input[type="number"]:focus, input[type="text"]:focus {
	outline: none;
	background-color: #C1C1C1;
}

input[type="text"]:invalid, input[type="number"]:invalid {
	background-color: #FF8A8A;
	border: 2px dashed black;
}

input[type="text"]:valid, input[type="number"]:valid {
	background-color: #CBFFD0;
	border: 2px solid black;
}

input[type='checkbox'] {
	/*Bron:https://www.youtube.com/watch?v=K1sL3wPisJw;*/
	position: relative;
	top: 0.3rem;
	width: 1.8em;
	height: 1.8em;
	-webkit-appearance: none;
	outline: none;
	transition: .5s;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

input[type='checkbox']:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 3px solid black;
	transition: .5s;
}

input:checked[type='checkbox']:before {
	border-left: none;
	border-top: none;
	width: 1em;
	border-color: #FC1D6C;
	transform: rotate(45deg) translate(0.3rem, -0.3rem);
}

input[type=submit] {
	align-self: flex-end;
	font-size: 1.3rem;
	background-color: #FF5D31;
	color: white;
	padding: 0.7rem 1.5rem;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	margin: 1.5rem 1rem 1rem 2rem;
	transition: color .2s ease;
}

input[type=submit]:hover {
	background-color: #0099CC;
	color: white;
	cursor: pointer;
}
